* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Atkinson", "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

@font-face {
  font-family: "roboto";
  src: url(/font/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../img/fondoformu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#contenedor header {
  background-color: black;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

#contenedor>section {
  flex: 3;
  padding: 20px;
}

#contenedor>aside {
  flex: 1;
  padding: 20px;
}

#contenedor>header,
#contenedor>nav {
  width: 100%;
  padding: 20px;
  text-align: center;
}

/*Barra de menú*/
.menuGeneral {
  list-style: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin: 0;
}

.menuGeneral>li>a {
  text-decoration: none;
  background-color: black;
  color: white;
  display: inline-block;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menuGeneral li {
  font-size: 25px;
  text-align: center;
  padding: 1rem;
  background-color: black;
}

.menuGeneral li a:not(.seccionactiva):hover {
  transform: scale(1.1);
}

.menuGeneral>li.logo {
  position: absolute;
  left: 1rem;
  padding: 0;
}

.menuGeneral>li.logo img {
  height: 6rem;
  display: block;
  object-fit: contain;
  background-color: black;
  display: block;
}

.menuGeneral li a.seccionactiva {
  color: green;
}

.hamburguesa-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/*nav presentación*/
.homePresentacion>h1 {
  font-size: 80px;
  padding: 4rem;
  margin-top: 2rem;
}

.homePresentacion>p {
  font-size: 35px;
  margin-bottom: 3rem;
}

.textopresent {
  display: flex;
}


/*SECCION ESPECÍFICA DE HTML CONTACTO*/
/* Banner de bienvenida con imagen*/
.contenedorformulario {
  width: 100%;
  overflow: hidden;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.formulario-contacto {
  max-width: 55vw;
  margin: 0 auto;
  background-color: lightgrey;
  color: #2a2a2a;
  padding: 3em;
  border-radius: 8px;
}

.formulario-contacto h2 {
  color: #2a2a2a;
  margin: 0.3em;
  margin-bottom: 0.6em;
  text-align: center;
}

.formulario-contacto fieldset {
  border: none;
  margin-bottom: 2.2em;
  padding: 0;
}

.formulario-contacto legend {
  font-weight: bold;
  font-size: 1.2em;
  color: green;
  margin-bottom: 0.5em;
  margin-top: 0.6em;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.campo label {
  margin-bottom: 0.3em;
  font-size: 0.95em;
}

.camporadio {
  display: flex;
  /*Así apilo los elementos al estrechar la pantalla*/
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.5em;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5em;
}

.campomasdeunacosa {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.campomasdeunacosa label {
  margin-bottom: 0.4em;
  margin-top: 0.3em;
}

.campomasdeunacosa div {
  flex: 1;
  min-width: 150px;
}

.campoancho {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.campoestrecho {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.campoestrecho input[type="date"] {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.6em;
  border-radius: 8px;
  border: 1px solid #555;
  font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  padding: 0.5em;
  border: 1px solid #555;
  border-radius: 8px;
  font-size: 1em;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em;
}

textarea {
  resize: vertical;
}

.condiciones .campo {
  margin-bottom: 0.8em;
}

.acciones {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 1.5em;
}

.boton {
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.borrar {
  background-color: #444;
  color: #eee;
}

.enviar {
  background-color: green;
  color: white;
}

.boton:hover {
  opacity: 0.85;
}


/* SECCIÓN DE FOOTER - MODIFICADO A PARTIR DEL BASE*/
.footerFinal {
  background-color: black !important;
  color: #fff;
  padding: 0.5em;
}

.footerFinal p {
  background-color: black !important;
  color: #fff;
  text-align: center;
  margin: 0.5em;
}

/*Añadida una parte con enlaces legales en el footer*/
.footer-links {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0.5em;
}

.footer-links a {
  background-color: black;
  color: #fff;
  text-decoration: none;
  margin: 0.5em;
}

.footer-links a:hover {
  text-decoration: underline;
}

/*Otra sección, con iconos de enlace a
las posibles redes sociales de la empresa*/
.footer-redes {
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-redes ion-icon {
  background-color: black;
}

.footer-redes a {
  color: #2f6b3a;
  font-size: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
  background-color: black;
}

.footer-redes a:hover {
  color: #cccccc;
  transform: scale(1.2);
}

/*SECCIÓN RESPONSIVE*/
/*TAMAÑOS según el enunciado de la actividad*/

/* ------------------------------------------------------------------  */
/* RESOLUCIONES DE MÁS DE 1300PX DE ANCHO*/
/* ------------------------------------------------------------------  */
@media screen and (max-width: 1300px) {
  .menuGeneral li {
    font-size: 22px;
  }

  select {
    width: 49%;
  }

  .menuGeneral>li.logo img {
    height: 3rem;
    display: block;
    object-fit: contain;
    background-color: black;
    display: block;
    margin-left: 0.3em;
  }

  #provincia {
    width: 100%;
  }

  #cupstamanio {
    width: 32%;
  }

  #fechaaltainstal {
    width: 56%;

  }
}


/* ------------------------------------------------------------------  */
/* TABLET DE POSICIÓN VERTICAL 1200*/
/* ------------------------------------------------------------------  */
@media screen and (max-width: 1299px) and (min-width: 1200px) {
  .menuGeneral li {
    font-size: 22px;
  }

  .formulario-contacto {
    padding: 2em;
    max-width: 65vw;
  }

  .menuGeneral>li.logo img {
    height: 3rem;
    display: block;
    object-fit: contain;
    background-color: black;
    display: block;
  }

  #fechaaltainstal {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.6em;
    border-radius: 8px;
    font-size: 1em;
  }
}

/* ------------------------------------------------------------------  */
/* TABLET DE POSICIÓN VERTICAL 992*/
/* ------------------------------------------------------------------  */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .menuGeneral li {
    font-size: 16px;
  }

  .menuGeneral .logo img {
    height: 2rem;
  }
}


/* ------------------------------------------------------------------  */
/* TELÉFONO EN POSICIÓN HORIZONTAL 768*/
/* ------------------------------------------------------------------  */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menuGeneral>li.logo,
  .menuGeneral>li.icon {
    display: inline-flex;
    width: auto;
    margin: 0 auto;
  }

  .menuGeneral {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  /* Estilo general para todos los li */
  .menuGeneral>li {
    width: 100%;
    text-align: center;
  }

  /* LOGOTIPO: arriba, centrado */
  .menuGeneral>li.logo {
    order: 0;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .menuGeneral .logo img {
    height: 5rem;
    object-fit: contain;
    margin: 0 auto;
  }

  /* ICONO DE HAMBURGUESA */
  .menuGeneral>li.icon {
    order: 1;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: black;
    cursor: pointer;
  }

  .hamburguesa-icon {
    font-size: 2rem;
    color: white;
    display: block;
  }

  /* Los elementos del menú se esconden con este tamaño de pantalla */
  .menuGeneral>li:not(.logo):not(.icon) {
    order: 2;
    display: none;
    flex-direction: column;
    background-color: black;
  }

  /* Así se ve el menú al hacer clic en el icono */
  .menuGeneral.active>li:not(.logo):not(.icon) {
    display: block;
  }

  .menu_item {
    display: block;
    padding: 0.75rem 0;
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: black;
  }

  .menu_item a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
  }

  .menu_item a:hover {
    background-color: #222;
  }
  

  .formulario-contacto {
    max-width: 90vw;
    padding: 1em;
  }

  .campomasdeunacosa {
    flex-direction: column;
  }

  .campoestrecho,
  .campoancho {
    width: 100%;
  }
}


/* ------------------------------------------------------------------  */
/* TELÉFONO EN POSICIÓN VERTICAL 578*/
/* ------------------------------------------------------------------  */
@media screen and (max-width: 578px) {
  .menuGeneral>li.logo,
  .menuGeneral>li.icon {
    display: inline-flex;
    width: auto;
    margin: 0 auto;
  }

  .menuGeneral {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  /* Estilo general para todos los li */
  .menuGeneral>li {
    width: 100%;
    text-align: center;
  }

  /* LOGOTIPO: arriba, centrado */
  .menuGeneral>li.logo {
    order: 0;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .menuGeneral .logo img {
    height: 5rem;
    object-fit: contain;
    margin: 0 auto;
  }

  /* ICONO DE HAMBURGUESA */
  .menuGeneral>li.icon {
    order: 1;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: black;
    cursor: pointer;
  }

  .hamburguesa-icon {
    font-size: 2rem;
    color: white;
    display: block;
  }

  /* Los elementos del menú se esconden con este tamaño de pantalla */
  .menuGeneral>li:not(.logo):not(.icon) {
    order: 2;
    display: none;
    flex-direction: column;
    background-color: black;
  }

  /* Así se ve el menú al hacer clic en el icono */
  .menuGeneral.active>li:not(.logo):not(.icon) {
    display: block;
  }

  .menu_item {
    display: block;
    padding: 0.75rem 0;
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: black;
  }

  .menu_item a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
  }

  .menu_item a:hover {
    background-color: #222;
  }

  .formulario-contacto {
    max-width: 80vw;
  }

  .camporadio {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4em;
  }

  select {
    width: 100%;
  }

  #fechaaltainstal {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.6em;
    border-radius: 8px;
    font-size: 1em;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-links p {
    margin-bottom: 0.3em;
  }

  .footer-links a {
    margin: 0.2em 0;
  }

}