* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Atkinson";
    background-color: white;
    font-family: "roboto";
}

@font-face {
  font-family: "roboto";
  src: url(/font/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

#contenedor{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos bajen si no caben */
}

#contenedor>header{
  background-color: black;
}

#contenedor > section {
    flex: 3; /* El section ocupa más espacio */
    padding: 20px;
  }
  
  #contenedor > aside {
    flex: 1; /* El aside ocupa menos espacio */
    padding: 20px;
  }
  
  #contenedor > header,
  #contenedor > nav {
    width: 100%; /* El header y nav ocupan toda la fila arriba */

    padding: 20px;
    text-align: center;
  }


  /*Barra de menú*/


  .menuGeneral {
    list-style: none;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: black;
    padding: 0 2rem;
    margin: 0;
  }

  .menuGeneral > li > a {
    text-decoration: none;
    background-color: black;
    color: white;
    display: inline-block;
    align-items: center; /* Alineación vertical */
    padding: 0;
    margin: 0;
  }

  .menuGeneral li {
    font-size: 25px;
    text-align: center;
    padding: 1rem;
    background-color: black;
  }


  .menuGeneral> li> a:hover {
    transform: scale(1.1);  /*Al pasar por encima, se agrandan las opciones del menú*/
  }

  .menuGeneral > li.logo {
    position: absolute;
    left: 1rem; /* Logo alineado a la izquierda */
    padding: 0;
    
  }
  
  .menuGeneral > li.logo img {
    height: 6rem;
    display: block;
    object-fit: contain;
    background-color: black; /* Asegura que el fondo sea negro como el menú */
    display: block;
  }

   /*nav presentación*/
  .homePresentacion> h1 {
    font-size: 80px;
    padding: 4rem;
    margin-top: 2rem;
  }

  .homePresentacion> p{
    font-size: 35px;
    margin-bottom: 3rem;
  }


  /*Fooer copyright*/

  .footerFinal>p {
    background-color: white;
    text-align: center;
  }

  .logo > img{

  }
