* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Atkinson";
    background-color: aquamarine;
    font-family: "roboto";
}

@font-face {
  font-family: "roboto";
  src: url(/font/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

#contenedor{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos bajen si no caben */
}

#contenedor > section {
    flex: 3; /* El section ocupa más espacio */
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  #contenedor > aside {
    flex: 1; /* El aside ocupa menos espacio */
    background-color: #d0d0d0;
    padding: 20px;
  }
  
  #contenedor > header,
  #contenedor > nav {
    width: 100%; /* El header y nav ocupan toda la fila arriba */
    background-color: #c0c0c0;
    padding: 20px;
    text-align: center;
  }

  .footerFinal {
    background-color: red;
  }

  .menuGeneral {
    list-style: none;
    background-color: black;
  }

  .menuGeneral > li > a {
    text-decoration: none;
    background-color: black;
    color: white;
  }

  .menuGeneral li {
    display: inline-block;
    font-size: 35px;
    text-align: center;
    padding: 1rem;
    background-color: black;
  }



